@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-header:         #100422;
  --color-page:           #240046;
  --color-panel:          #3C096C;
  --color-editor:         #3C096C;
  --color-input:          #570D9B;
  --color-message:     #7111CA;
  --color-button:    #FF6D00;
  --color-ring:    #FF9F00;
  --color-highlight:    #E38349;
  --color-font-apex:      #B67211;
  --color-font-primary:   #FF9F00;
  --color-font-secondary: #BE5857;
  --color-font-tertiary:  #9C446E;
  --color-font-paragraph:  #F5ECFD;
  --color-accent-apex:    #FF6D00;
  --color-accent-bright:  #CA11C7;
  --color-accent-muted: #9B0D98;
  --color-accent-dark:    #460045;
}

@layer base {
  [data-theme="dark"] {
    --color-header:         #030712;
    --color-page:           #161B22;
    --color-panel:          #0B1831;
    --color-editor:         #0B1831;
    --color-input:          #112345;
    --color-message:     #534484;
    --color-button:    #0065D7;
    --color-ring:    #0B7FFF;
    --color-highlight:    #0D1116;
    --color-font-apex:      #A9A9A9;
    --color-font-primary:   #A684FF;
    --color-font-secondary: #0066D7;
    --color-font-tertiary:  #666869;
    --color-font-paragraph:  #EDEDED;
    --color-accent-apex:    #0B7FFF;
    --color-accent-bright:  #0065D7;
    --color-accent-muted: #004EA4;
    --color-accent-dark:    #C1C3C7;
  }

  [data-theme="light"] {
    --color-header:         #B5B3AC;
    --color-page:           #252422;
    --color-panel:          #FFFCF2;
    --color-editor:         #FFFCF2;
    --color-input:          #FFF0C0;
    --color-message:     #FFFFFE;
    --color-button:    #CD4713;
    --color-ring:    #F4F1DE;
    --color-highlight:    #F4F1DE;
    --color-font-apex:      #1D1C1B;
    --color-font-primary:   #EB5E28;
    --color-font-secondary: #78746C;
    --color-font-tertiary:  #948F86;
    --color-font-paragraph:  #1A1400;
    --color-accent-apex:    #EB5E28;
    --color-accent-bright:  #F07D4B;
    --color-accent-muted: #CD4713;
    --color-accent-dark:    #FFF0C0;
  }
}

/* tailwind typography */
@source inline("text-xs text-sm text-base text-lg text-xl text-2xl");
